<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<startup useLegacyV2RuntimeActivationPolicy="true" />-->
	<connectionStrings>
		<add name="GESTION_COURS"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=BATMAN;Initial Catalog=gestion_cours;Integrated Security=True;Encrypt=False" />
	</connectionStrings>
</configuration>